streamlit
pandas
scikit-learn
matplotlib
streamlit
pandas
scikit-learn
matplotlib
seaborn
streamlit
pandas
scikit-learn
matplotlib

matplotlib
seaborn
scikit-learn
pandas
streamlit
# 한글 폰트
nanum-fonts
